




body{      
    padding-left: 150px;
    padding-right: 150px;
    
 }

 p{ 
     font-size: 17px;
     text-indent: 65px;
     text-align: justify;
 }

 .HABBO{
     font-style: italic;
     color: rgb(226, 9, 9);
 }
 img{
    height: 400px;
    width: 400px;
    display: block;
    margin:0 auto;
}
figcaption{
    text-align: center;
}

