h3{ left: auto;
    font-style: italic;

}

img{ height: 400px;
      width: 700px;

}

p{  font-size: 17px;
    text-align: justify;
    font-style: italic;
}
li.pontinho{ list-style-type: disc; 
}
li.quadradinho{ list-style: square;
}
ol.iv{list-style: upper-roman;
}

span{color: rgba(31, 28, 23, 0.582);}

a:link{
    color: rgb(8, 8, 8);
}

a:visited{
    color:black;
}

a:hover {
    text-decoration: none;
}

button{ color:rgb(161, 20, 20)
}
